.login-popup {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    place-items: center;
}

.login-popup-container {
    background-color: white;
    width: max(23vw, 330px);
    border-radius: 8px;
    padding: 30px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    color: #808080;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.login-popup-title img {
    width: 18px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-popup-inputs input {
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.login-popup-container button {
    padding: 10px;
    background-color: tomato;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-popup-condition {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
}

.login-popup-condition input {
    margin-top: 10px;
}

.login-popup p {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}